ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}
.tree-container {
  background: #202024;
  color: white;
  font-family: monospace;
}
.tree-node-li {
  padding: 5px;
  transition: all 0.3s;
  padding-left: 10px;
  cursor: pointer;
}
.tree-node-li:hover {
  background: #ffffff3d;
}
.node-total {
  float: right;
}
.opened {
    background: #ffffff3d;
}
.expandable {
  overflow-y: hidden;
  max-height: 0px; 
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
}
.expanded {
  max-height: 1500px;
  background: #ffffff3d;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table-body-info-txt {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
  position: relative;
}